.DS_Store
.idea/
__pycache__/
temp.py
dist/
src/wazirx/rest/wazir_trader.egg-info/
src/__pycache__/
src/trade/__pycache__/
src/wazirx/__pycache__/
src/wazirx/rest/__pycache__/
src/wazirx/websocket/__pycache__/
